/* Estilo global da página */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #111111ed; /* Fundo escuro */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #eee;
}

/* Cabeçalho */
.header {
    background-color: #8000ff; /* Roxo forte */
    padding: 12px 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #7F00FF;
}

/* Rodapé */
.footer {
    background-color: #8000ff;
    padding: 12px 0;
    text-align: center;
    color: #7F00FF;
    margin-top: auto; /* faz o footer descer mesmo com pouco conteúdo */
}

/* Links gerais */
a {
    color: #00aaff;
    text-decoration: none;
    margin: 0 5px;
}

a:hover {
    text-decoration: underline;
}

/* Container principal onde o conteúdo das páginas aparece */
.container {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    flex: 1; /* faz o conteúdo expandir e empurrar o footer */
    display: flex;
    flex-direction: column;
}

/* Mensagens flash (ex: login feito com sucesso) */
ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    background: #7F00FF;
    padding: 10px;
    margin-bottom: 8px;
    border-left: 4px solid #8000ff;
    border-radius: 4px;
}

/* Título global "UV" */
.global-title {
    text-align: center;
    color: white;
    font-size: 2rem;
    margin: 20px 0 10px;
    font-weight: bold;
}

