{% extends "base.html" %}

{% block content %}
<main>
    <div id="grafico-uv">
        <p>Aqui vai o gráfico UV</p>
    </div>

    <div id="container-table">
        <table id="table-dinamic">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Arduino</th>
                    <th>Data</th>
                    <th>Localização</th>
                    <th>Frequência UV</th>
                </tr>
            </thead>
            <tbody>
                {% for registro in registers %}
                <tr>
                    <td>{{ registro.id }}</td>
                    <td>{{ registro.arduino_id }}</td>
                    <td>{{ registro.register_date.strftime('%d/%m/%Y %H:%M') }}</td>
                    <td>{{ registro.location_id }}</td>
                    <td>{{ registro.frequency }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
